/* LOGIN PAGE STYLES*/
*{
    font-family: Helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background: url(../lib/images/main_bg.jpg);
    height: 100vh;
}

#irregs_logo_login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 550px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

form{
    width: 500px;
    background: #333;;
    border: 2px solid #03741a;
    border-radius: 20px;
    padding: 50px;
    font-weight: bold;
    color: white;
}

h2{
    color: #ffffff;
    padding: 0 8px 30px 8px;
    font-size: 25px;
    margin: 0;
    text-align: center;
}

label{
    font-size: 18px;
    padding: 10px;
    color: rgb(197, 197, 197);
}

input.login{
    display: block;
    border: 2px solid rgb(126, 126, 126);
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    height: 50px;
    font-size: large;
}


button{
    float: right;
    background-color: rgb(146, 146, 146);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}

button:hover{
    background-color: rgb(41, 139, 54);
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* HEADER STYLES AUTHOR: IVAN*/

.header {
    overflow: hidden;
    background-color: #333;
    padding: 1px 10px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding:20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    border-radius: 0px;
}

#logo:hover{
    background: #333;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: white;
    color: black;
}

.header-right {
    float: right;
    margin-top: 20px;
}

/* STYLES FOR QUIZ TABLE */

.welcomeParagraph p{
    margin: auto;
}

th, td {
    border: 1.5px solid #333;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #48b6d1;

}
tr:nth-child(odd){
    background-color: #cbf2fc;
}
tr:nth-child(-n+1){
    background-color: rgb(28, 95, 158);
}

table{
    width: 90%;
}
  
table.center {
    margin-left: auto; 
    margin-right: auto;
}

h2.table-title{
    padding: 2px;
    font-size: 40px;
    color: white;
}

#takequiz{
    float: none;
}

/* QUIZ PAGE STYLES*/

.quiz-center{
    margin: 2% auto 2% auto;
    width: 75%;
    border: 1px solid rgb(165, 165, 165);
    background-color: white;
    padding: 10px;
    border-radius: 20px;
 
}
form.quiz-center{
    color: black;
    font-weight: normal;
}

p{
    font-size: medium;
    text-align: left;
}

.item-container{
    margin: 1% auto 1% auto;
    width: 75%;
    border: 1px solid rgb(165, 165, 165);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

h4{
    margin-bottom: 2%;
}

#submitBTN{
    float: none;
}

.button-center{
   margin: auto;
   padding: 10px;
   text-align: center;
}


@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
        margin-top: 3px;
    }
}
